@import '../../common/vendorPrefixes.scss';

.accordionTransition{
  /*placeholder*/
}

.accordionTransition-appear{
  opacity: 0.01;
  height: 0px;
}

.accordionTransition-appear.accordionTransition-appear-active{
  opacity: 1;
  height: auto;
  @include transition(height, 0.50s, ease-in);
}

.accordionTransition-enter{
  opacity: 0.01;
  height: 0px;
}

.accordionTransition-enter.accordionTransition-enter-active{
  opacity: 1;
  height: auto;
  @include transition(height, 0.30s, ease-in);
}

.accordionTransition-leave{
  opacity: 1;
  height: auto;
}

.accordionTransition-leave.accordionTransition-leave-active{
  opacity: 0.01;
  height: 0px;
  @include transition(height, 0.02s, ease-in);
}