@import '../../common/vendorPrefixes.scss';
@import '../../common/globalTheme.scss';
@import '../../common/mixins.scss';

.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  @include user-select(none);
}

.btn:active{
  @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125))
}

.btnPrimary{
  color: #ffffff;
  background-color: $primary-color;
  border-color: $primary-color-border;
  @include button-variant($white-color, $primary-color, $primary-color-border);

}

.btnSm{
  padding: 1px 0px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  height: 24px;
  width: 24px;
}

.iconContainer{
  font-size: 1.5em;
}